################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LeetCodeSolutions/.vs/LeetCodeSolutions/DesignTimeBuild
/LeetCodeSolutions/.vs/LeetCodeSolutions/v17
/LeetCodeSolutions/bin/Debug/net7.0
/LeetCodeSolutions/obj
/LeetCodeSolutionsTests/obj
/LeetCodeSolutionsTests/bin/Debug/net7.0
