################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LeetCodeSolutions/.vs/*
/LeetCodeSolutions/bin
/LeetCodeSolutions/obj
/LeetCodeSolutionsTests/obj
/LeetCodeSolutionsTests/bin
